    .btn {
        background-color: $nieve !important;
        border-radius: 90px !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
        border-color: $granitegray !important; 
            
    }
