// SIZE typographia
$size_xx-large: 100px;
$size_x-large: 70px;
$size_large: 50px;
$size_medium: 18px;

// wight
$bold: 700;
$regular: 400;
$extra-light: 200;

// fuente
$raleway-family: 'Raleway', sans-serif;