// BLANCOS
$blanco: #fff;
$nieve: #fafafa;
$silver: #a0a0a0; 

// SALMON
$jellybean: #e56353;
$salmon: #e97f72;
$pastelpink: #f0a9a1;

// PLOMOS
$granitegray: #686963;
$taupegray: #91918d;
$gray: #babab8;




