header {
    background-color: $jellybean;
    color: $blanco;
    margin-top: 10px;
    text-align: center;
    padding: 200px;    

    h2 {
        font-family: 'Raleway', sans-serif;
        font-weight:$extra-light;
        font-size: $size_x-large;
        
    }
    
    h1 {
        font-family:'Raleway', sans-serif;
        font-weight : $bold;
        font-size: $size_x-large;
    }

}

